*~
*.swp

*.lo
*.o

*.so

*.lai
*.la
*.a
*.sdf
*.suo

INSTALL
Makefile.in
Makefile
ltmain.sh
stamp-h1
libtool
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
config.guess
config.h
config.h.in
config.log
config.status
config.sub
.libs
.deps

bin/Test_nPAClientLib/Test_nPAClientLib
lib/eIDClientConnection/gnutls-2.10.2.tar.bz2
lib/eIDClientConnection/gnutls-2.10.2/
eIDClientCore/winbuild/Debug
eIDClientCore/winbuild/Release
eIDClientCore/winbuild/*/Debug
eIDClientCore/winbuild/*/Release
