[submodule "eIDClientCore/bin/SimpleClient/civetweb"]
	path = eIDClientCore/bin/SimpleClient/civetweb
	url = git://github.com/sunsetbrew/civetweb.git
[submodule "eIDClientCore/bin/Test_nPAClientLib/wingetopt"]
	path = eIDClientCore/bin/Test_nPAClientLib/wingetopt
	url = https://github.com/alex85k/wingetopt.git
[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/misery/openssl.git
